<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNmgGeTJjruXk4zU4J6sfdhowElg57320</string>
	<key>GCM_SENDER_ID</key>
	<string>855007370423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sumeyye.sinavswipe</string>
	<key>PROJECT_ID</key>
	<string>sinavswipe</string>
	<key>STORAGE_BUCKET</key>
	<string>sinavswipe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855007370423:ios:e05e27d1cf3e1cbd38c132</string>
</dict>
</plist>